.Close {
    cursor: pointer;
    width: 10px;
    height: 10px;
    position: relative;
    transform: rotate(45deg) scale(2);
}

.Close .top,
.Close .bot {
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
}

.Close .circle {
    border-radius: 50%;
    border: 1px solid white;
    display: block;
    /*background: #fff;*/
    position: absolute;
    top: -2.8px;
    left: -2.5px;
    /*transform: skewY(180deg);*/
    width: 15px;
    height: 15px;
}

.Close .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(180deg);
    top: 0;
}

.Close .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-180deg);
    left: 0;
}

@keyframes top-out {
    from {
        top: 0;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0;
    }
}

@keyframes top-in {
    from {
        top: -100%;
        height: 0;
    }
    to {
        top: 0;
        height: 100%;
    }
}

@keyframes bot-out {
    from {
        left: 0;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0;
    }
}

@keyframes bot-in {
    from {
        left: -100%;
        width: 0;
    }
    to {
        left: 0;
        width: 100%;
    }
}

.Close:hover .top {
    animation: top-out .25s forwards, top-in .25s forwards .25s;
}

.Close:hover .bot {
    animation: bot-out .25s forwards .1s, bot-in .25s forwards .35s;
}